div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: last baseline;
  align-items: baseline;
  margin: auto 2rem;
  /* background-color: red; */
}
img {
  height: 190px;
  width: 200px;
}
